<h1 class="logo-content">
    <strong class="logo">
        <%= link_to image_tag("/frontend/images/logo.png", size: "216x115", alt: ""), erp_vinhhaoninhthuan.root_path, title: "", class: "logo" %>
    </strong>
</h1>