<main id="maincontent" class="page-main">
    <a id="contentarea" tabindex="-1"></a>
    <div class="columns col2-layout">
        <div class="container">
            <div class="row">                
                <div class="col-lg-12 col-md-12">
                    <div class="breadcrumbs">
                        <ul class="items">
                            <li class="item home">
                                <%= link_to "Trang Chủ", erp_vinhhaoninhthuan.root_path, title: "Quay về trang chủ" %>
                            </li>
                            <li class="item">
                                <strong>Nước Vĩnh Hảo</strong>
                            </li>
                        </ul>
                    </div>
                    <div class="page-title-wrapper">
                        <h1 class="page-title" id="page-title-heading" aria-labelledby="page-title-heading toolbar-amount">
                            <span class="base" data-ui-id="page-title-wrapper">Nước Vĩnh Hảo</span>
                        </h1>
                    </div>                    
                    <div class="column main">
                        <div id="catalog-listing">                            
                            <div class="category-product products  wrapper grid products-grid">
                                <ol class="products list items product-items row">
                                    <% (0..19).each do |item| %>
                                    <li class="item product product-item">
                                        <div class="product-item-info">
                                            <div class="item-inner">
                                                <div class="box-image">
                                                    <a href="<%= erp_vinhhaoninhthuan.product_detail_path %>" class="product photo product-item-photo" tabindex="-1">
                                                        <span class="product-image-container">
                                                          <span class="product-image-wrapper">
                                                              <img class="product-image-photo" src="/frontend/images/g13_2.jpg" width="300" height="200" alt="Rumasi Rema Pokemon Go"/>
                                                          </span>
                                                        </span>
                                                    </a>
                                                    <!--LABEL PRODUCT-->
                                                    <div class="label-product label-new">
                                                        <span class="new-product-icon">Mới</span>
                                                    </div>
                                                    <!--END LABEL PRODUCT-->
                                                </div>
                                                <div class="product details product-item-details box-info">
                                                    <h2 class="product name product-item-name product-name">
                                                        <%= link_to "Nước Vĩnh Hảo", erp_vinhhaoninhthuan.product_detail_path, title: "", class: "product-item-link" %>
                                                    </h2>
                                                    <div class="price-box price-final_price">
                                                        <span class="price-container price-final_price tax weee">
                                                            <span class="price-wrapper ">
                                                                <span class="price">150,000đ</span>
                                                            </span>
                                                        </span>
                                                    </div>                                                  
                                                    <div class="hover-content"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <% end %>
                                </ol>
                            </div>                            
                        </div>                                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>