<main id="maincontent" class="page-main">
    <a id="contentarea" tabindex="-1"></a>
    <div class="columns col1-layout">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="breadcrumbs">
                        <ul class="items">
                            <li class="item home">
                                <%= link_to "Trang Chủ", erp_vinhhaoninhthuan.root_path, title: "Quay về trang chủ" %>
                            </li>
                            <li class="item">
                                <strong>Giới Thiệu</strong>
                            </li>
                        </ul>
                    </div>
                    <div class="page-title-wrapper">
                        <h1 class="page-title">
                            <span class="base">Giới Thiệu</span>
                        </h1>
                    </div>                    
                    <div class="category-view">
                        <div class="category-cms">
                            <div class="about-us-page">
                                <div class="top-des">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.
                                </div>
                                <div class="featured-wrapper">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4">
                                            <div class="featured-content">
                                                <h3>ABOUT OUR AGENCY</h3>
                                                <div class="featured-info">
                                                    Ideaware was founded on a basic principle: build great experiences with beautiful interfaces. We try to make the web and mobile scene a better place by helping our clients materialzie their ideas.
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-4">
                                            <div class="featured-content">
                                                <h3>OUR PHILOSOPHY</h3>
                                                <div class="featured-info">
                                                    Great products are not only aesthetically pleasing but also easy to use. We believe that apps and websites should not only be eye catching but actually provide a great user experience that users will remember.
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4 col-md-4">
                                            <div class="featured-content">
                                                <h3>HISTORY</h3>
                                                <div class="featured-info">
                                                    Ideaware was founded in 2009, we've had the privilege to work with great companies and startups. Our team has rapidly grown since then, today we're more than 15 team members across our locations.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>