<div class="footer-container footer-style-1">                    
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-info">
                <div class="footer-block">
                    <div class="footer-block-title helps-block">
                        <h3>Về chúng tôi</h3>
                    </div>
                    <div class="footer-block-content">
                        <ul class="footer-links">
                            <li><a title="Trang chủ" href="#">Trang chủ</a></li>
                            <li><a title="About us" href="http://magento2.flytheme.net/themes/sm_sport/default/about.html">Giới thiệu</a></li>
                            <li><a title="Contact us" href="http://magento2.flytheme.net/themes/sm_sport/default/contact.html">Liên hệ - Góp ý</a></li>
                            <li><a title="Shopping" href="#">Thông tin giao hàng</a></li>
                        </ul>
                    </div>
                </div>            
                <div class="footer-block">
                    <div class="footer-block-title join-block">
                        <h3>Sản phẩm</h3>
                    </div>
                    <div class="footer-block-content">
                        <ul class="footer-links">
                            <li><a href="#" title="Check Order Status">Check Order Status</a></li>
                            <li><a href="#" title="Shipping Options">Shipping Options</a></li>
                            <li><a href="#" title="Returns and Exchanges">Returns and Exchanges</a></li>
                            <li><a href="#" title="Product Recall">Product Recall</a></li>
                            <li><a href="#" title="Live chat support">Live chat support</a></li>
                            <li><a href="#" title="Other...">Other...</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-block block-content-contact">
                    <div class="footer-block-title contact-block">
                        <h3>Liên hệ</h3>
                    </div>

                    <div class="footer-block-content">
                        <ul class="contact-info">
                            <li class="street">Công ty TNHH Hương Anh Phát</li>
                            <li class="phone-number">(+84) 12 345 6789</li>
                            <li class="emaillocal">
                                <a class="linkcontact" href="mailto:">lienhe@vinhhaoninhthuan.com</a>
                            </li>
                        </ul>
                    </div>
                    <div class="socials-wrap">
                        <div class="title-follow">Theo Dõi</div>
                        <ul>
                            <li class="li-social facebook-social">
                                <a title="Facebook" href="http://www.facebook.com/MagenTech" target="_blank">
                                    <span class="fa fa-facebook icon-social"></span><span class="name-social">Facebook</span>
                                </a>
                            </li>
                            <li class="li-social twitter-social">
                                <a title="Twitter" href="https://twitter.com/magentech" target="_blank">
                                    <span class="fa fa-twitter icon-social"></span> <span class="name-social">Twitter</span>
                                </a>
                            </li>
                            <li class="li-social google-social">
                                <a title="Google+" href="https://plus.google.com/u/0/+Smartaddons" target="_blank">
                                    <span class="fa fa-google-plus icon-social"></span> <span class="name-social">Google+</span>
                                </a>
                            </li>
                            <li class="li-social pinterest-social">
                                <a title="Pinterest" href="#" target="_blank">
                                    <span class="fa fa-pinterest icon-social"></span> <span class="name-social">Pinterest</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copyright-footer">
                <span><img src="/frontend/images/logo-home-footer.png" alt="SM Sport" /></span> <address>Copyright &copy; 2017 <%= link_to "Vĩnh Hảo Ninh Thuận", erp_vinhhaoninhthuan.root_path, target: "_blank" %>. All rights reserved.</address>
            </div>
        </div>
    </div>
</div>